#img1 {
  width: 200px; 
  margin-left: 70px; 
  margin-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: end;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid black; 
  height: 100px; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
  font-family: verdana;
  font-weight:bold;
  font-size: 16px;
  letter-spacing: -1px;
}

li a {
  display: inline-block;
  color: #306f40;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

li a:hover {
  background-color: #306f40;
  color:white;
}